@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  touch-action: none; /* Блокирует стандартные жесты браузера */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Никаких скроллов */
  background-color: #0f172a;
  position: fixed; /* Чтобы экран не "прыгал" на айфонах */
}

/* Оверлей для поворота экрана */
#rotate-overlay {
  display: none;
}

@media (orientation: portrait) {
  #rotate-overlay {
    display: flex;
    position: fixed;
    inset: 0;
    background: #1e293b;
    color: white;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-touch-callout: none;
}
