@import "tailwindcss";

:root {
  touch-action: none;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f3e5ab; /* Цвет песка */
}

#rotate-overlay {
  display: none;
}

@media (orientation: portrait) {
  #rotate-overlay {
    display: flex;
  }
}

canvas {
  display: block;
}
